{% extends "base_generic.html" %}

{% block content %}
  {% if perms.catalog.can_mark_returned %}
  <h4><a href="{% url 'author-create' %}">Add new author</a></h4>
  {% endif %}
  <h1>Author List</h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }},&nbsp{{ author.first_name }}</a> ({{ author.date_of_birth }}&nbsp-&nbsp{% if author.date_of_death %}{{ author.date_of_death }}{% endif %})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors' data stored in the library.</p>
  {% endif %}
{% endblock %}
